* {
	letter-spacing: 0;
	vertical-align: middle;

	&, &::before, &::after {
		box-sizing: border-box;
	}
	&, &:invalid {
		box-shadow: none;
		outline: none;
	}
}
html, body {
	@include wh(100%);
}
html {
	text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
    @extend %no-spx;
    @include of(hidden, x);
}
a {
	background-color: transparent;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b, strong {
	font-weight: bold;
}
em, i {
	font-style: italic;
}
blockquote {
	@include bx(0, 0 0 0 1.5em);
}
canvas {
    @include nlb;
}
code, kbd, pre, samp {
	@include ft(base, $f: mono);
}
div, details, header, footer, main, menu, nav, section, figure, figcaption, form, fieldset, legend, progress {
	@include bx;
}
div, img, figure, nav, audio, video {
	@extend %no-spx;
	border: none;
}
ol, ul {
	@include bx(0 0 1em 1em, 0);
}
li, summary {
	@include bx($d: list-item);
}
li {
	@include mp(0 0 0.25rem, 0);
}
ul {
	list-style: square;
}
figure {
	@include of(hidden);
	
	> img, > audio, > video {
		@include bx;
		@include wh(auto, null, $mw: 100%);
        
        + figcaption {
            margin-top: 10px;
        }
	}
    > figcaption {
        @include mp(0, 0 10px);
        @include ft(90%, n, $a: cen);
        
        + img {
            margin-top: 10px;
        }
    }
}
header, footer, main {
	width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
	@extend %boxy;
}
hr {
	box-shadow: none;
	border: none;
	@include of(hidden);
	height: 1px;
}
small, sub, sup {
	@include ft(75%, lgt);
}
sub, sup {
	line-height: 0;
	@include poz;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
section {
	max-width: 100%;
	@include of(hidden);
	@include poz;
}
template, [hidden] {
	@include bx($d: none);
}
fieldset {
	@include bd($c: currentColor);
	@include mp(0 0 0.5em 0, 0.5em);
}
legend, label {
	@include ft(90%);
}
legend {
	@include mp(0 0 0 1.5em, 0 0.5em);
	max-width: 90%;
	white-space: normal;
}
label, button, input, select, textarea {
    @include nlb;
}
button, input, select, textarea, .btn, .chk, .inp, .rdo, .sel {
	outline: none;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
}
button, .btn , [type=button], [type=reset], [type=submit] {
	appearance: button;
	cursor: pointer;
    text-transform: uppercase;
}
button, input, select, textarea {
	&:focus {
		outline: none;
	}
	&::-moz-focus-inner {
		border: none;
		padding: 0;
	}
}
.chk, .rdo, .rge,
[type=color], [type=checkbox], [type=radio],
[type=range],  [type=file], [type=image] {
    appearance: none;
    padding: 0;
}
label {
    padding-left: 0;
    padding-right: 0;
}
select {
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 0), linear-gradient(135deg,currentColor 50%,transparent 0);
    background-position: right 1em top 50%, right .65em top 50%;
    background-size: .35em .4em, .35em .4em, 0 1.5em;
    background-repeat: no-repeat;
    padding-right: 1.8em;
	
	&::-ms-expand {
		@include bx($d: none);
	}
}
textarea {
	overflow: auto;
	resize: none;
	min-height: 2.4em;
}
[type=datetime], [type=email], [type=month], [type=search], [type=week] {
	appearance: textfield;
}
[type=password] {
	-webkit-text-security: circle !important;
}
[type=search] {
	outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
	appearance: none;
}
[type=file]::-webkit-file-upload-button{
	appearance: button;
}
::placeholder {
	color: currentColor;
	opacity: .875;
}
input:focus::placeholder {
	opacity: 0.25;
}
.disabled, [disabled], [readonly] {
	cursor: none;
    pointer-events: none;
}
progress {
	@include mp(0.5rem, 0);
	vertical-align: baseline;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	caption-side: top;
	vertical-align: middle;
}
table, thead, tbody, tr {
	@extend %no-spx;
	border: none;
}
thead, tbody, tr, th, td {
	border-color: inherit;
}
th, td {
	@include bd($c: currentColor);
	@include mp(0, 2px);
	text-align: left;
}
thead th {
	text-align: center;
}